{% extends 'base.html' %}


{% block content %}

<div class="container main-container headerOffset">

    <div class="row">
        <div class="breadcrumbDiv col-lg-12">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Cat</a></li>
                <li><a href="#">Book</a></li>
                <li class="active">{{ product.name }}</li>
            </ul>
        </div>
    </div>

    <div class="row transitionfx">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="main-image main-image-thumb-list sp-wrap col-lg-12 no-padding style3">
                {% for image_item in product.productimage_set.all %}
                    <a href="{{ image_item.image.url }}">
                        <img src="{{ image_item.image.url }}" class="img-responsive" alt="{{ product.name }}">
                    </a>
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-5">
            <h1 class="product-title"> {{ product.name }} </h1>
            <h3 class="product-code">Product Code : DEN1098</h3>

            <div class="rating">
                <p><span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star"></i></span> <span><i class="fa fa-star-o "></i></span> <span class="ratingInfo"> <span> / </span> <a data-toggle="modal" data-target="#modal-review"> Write a review</a> </span></p>
            </div>

            <div class="product-price"><span class="price-sales"> {{ product.price }}</span> <span class="price-standard">{{ product.old_price }}</span> тенге</div>
            <div class="details-description">
                <p></p>
            </div>

            <form action="{% url 'cart_adding' %}" id="form_buy_product">{% csrf_token %}
                <div class="productFilter productFilterLook2">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-6">
                            <div class="filterBox">
                                <input type="number" class="form-control" name="count" id="count" placeholder="1" value="1">
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-6">

                        </div>
                    </div>
                </div>

                <div class="cart-actions">
                    <div class="addto row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <button
                                    class="button btn-block btn-cart cart first"
                                    title="Add to Cart"
                                    type="submit"
                                    data-product_id = "{{ product.id }}"
                                    data-product_name = "{{ product.name }}"
                                    data-product_price = "{{ product.price }}"
                                    data-product_img = "{{ product.name }}"
                                    id="submit_button">
                                В корзину
                            </button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"></div>
                    </div>
                    <div style="clear:both"></div>
                    <h3 class="incaps"><i class="fa fa fa-check-circle-o color-in"></i> In stock</h3>
                    <h3 style="display:none" class="incaps"><i class="fa fa-minus-circle color-out"></i> Out of stock</h3>
                    <h3 class="incaps"><i class="glyphicon glyphicon-lock"></i> Secure online ordering</h3>
                </div>
            </form>

            <div class="clear"></div>
            <div class="product-tab w100 clearfix">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#details" data-toggle="tab">О книге</a></li>
                    <li><a href="#size" data-toggle="tab">Отзывы</a></li>
                    <li><a href="#shipping" data-toggle="tab">Доставка</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="details">{{ product.description }}</div>
                    <div class="tab-pane" id="size"> 16" waist<br>Model wears size 31. Model is 6'2 <br></div>
                    <div class="tab-pane" id="shipping">
                        <table>
                            <colgroup>
                                <col style="width:33%">
                                <col style="width:33%">
                                <col style="width:33%">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>Standard</td>
                                <td>1-5 business days</td>
                                <td>$7.95</td>
                            </tr>
                            <tr>
                                <td>Two Day</td>
                                <td>2 business days</td>
                                <td>$15</td>
                            </tr>
                            <tr>
                                <td>Next Day</td>
                                <td>1 business day</td>
                                <td>$30</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="3">* Free on orders of $50 or more</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <div style="clear:both"></div>
            <div class="product-share clearfix">
                <p> Поделиться </p>
                <div class="socialIcon"><a href="#"> <i class="fa fa-facebook"></i></a> <a href="#"> <i class="fa fa-twitter"></i></a> <a href="#"> <i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-pinterest"></i></a></div>
            </div>
        </div>
    </div>

    <div style="clear:both"></div>

</div>

<div class="gap"></div>

{% endblock %}
