html, body {
    height: 100%;
    width: 100%;
    position: absolute;
    max-height: 100%;
    background-color: azure;
    background: url(../img/bg.jpg) center;
}

.general-container{
}

.top-container{
    margin-top: 10%;
}


.title {
    color: #2e6da4;
    text-align: center;
}