{% extends 'base.html' %}


{% block content %}

    <div class="container headerOffset">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="home-intro">
                    <h2>Simple Shop <span>E-commerce</span> - books</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container main-container">
        <div class="morePost row featuredPostContainer style2 globalPaddingTop ">
            <div class="col-lg-12">
                <h3 class="boxes-title-1"><span>CATALOG PRODUCTS</span></h3>
            </div>
            <div class="container">
                <div class="row xsResponse">

                    <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <div class="product">
                            <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left">
                                <i class="glyphicon glyphicon-heart"></i>
                            </a>

                            <div class="image">
                                <div class="quickview">
                                    <a data-toggle="modal" class="btn btn-xs btn-quickview" href="ajax\product.html" data-target="#productSetailsModalAjax">Quick View </a>
                                </div>
                                <a href="#"><img src="img/30.jpeg" alt="img" class="img-responsive"></a>
                                <div class="promotion"><span class="new-product"> NEW</span> <span class="discount">15% OFF</span></div>
                            </div>

                            <div class="description">
                                <h4><a href="#">aliquam erat volutpat</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                <span class="size">XL / XXL / S </span>
                            </div>
                            <div class="price"><span>$25</span> <span class="old-price">$75</span></div>
                            <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a></div>
                        </div>
                    </div>

                    <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <div class="product">
                            <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left">
                                <i class="glyphicon glyphicon-heart"></i>
                            </a>

                            <div class="image">
                                <div class="quickview">
                                    <a data-toggle="modal" class="btn btn-xs btn-quickview" href="ajax\product.html" data-target="#productSetailsModalAjax">Quick View </a>
                                </div>
                                <a href="#"><img src="img/30.jpeg" alt="img" class="img-responsive"></a>
                                <div class="promotion"><span class="new-product"> NEW</span> <span class="discount">15% OFF</span></div>
                            </div>

                            <div class="description">
                                <h4><a href="#">aliquam erat volutpat</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                <span class="size">XL / XXL / S </span>
                            </div>
                            <div class="price"><span>$25</span> <span class="old-price">$75</span></div>
                            <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a></div>
                        </div>
                    </div>

                    <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <div class="product">
                            <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left">
                                <i class="glyphicon glyphicon-heart"></i>
                            </a>

                            <div class="image">
                                <div class="quickview">
                                    <a data-toggle="modal" class="btn btn-xs btn-quickview" href="ajax\product.html" data-target="#productSetailsModalAjax">Quick View </a>
                                </div>
                                <a href="#"><img src="img/30.jpeg" alt="img" class="img-responsive"></a>
                                <div class="promotion"><span class="new-product"> NEW</span> <span class="discount">15% OFF</span></div>
                            </div>

                            <div class="description">
                                <h4><a href="#">aliquam erat volutpat</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                <span class="size">XL / XXL / S </span>
                            </div>
                            <div class="price"><span>$25</span> <span class="old-price">$75</span></div>
                            <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a></div>
                        </div>
                    </div>

                    <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
                        <div class="product">
                            <a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left">
                                <i class="glyphicon glyphicon-heart"></i>
                            </a>

                            <div class="image">
                                <div class="quickview">
                                    <a data-toggle="modal" class="btn btn-xs btn-quickview" href="ajax\product.html" data-target="#productSetailsModalAjax">Quick View </a>
                                </div>
                                <a href="#"><img src="img/30.jpeg" alt="img" class="img-responsive"></a>
                                <div class="promotion"><span class="new-product"> NEW</span> <span class="discount">15% OFF</span></div>
                            </div>

                            <div class="description">
                                <h4><a href="#">aliquam erat volutpat</a></h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                <span class="size">XL / XXL / S </span>
                            </div>
                            <div class="price"><span>$25</span> <span class="old-price">$75</span></div>
                            <div class="action-control"><a class="btn btn-primary"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-section parallax-image-2">
        <div class="w100 parallax-section-overley">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="parallax-content clearfix">
                            <h1 class="xlarge"> Trusted Seller 500+ </h1>
                            <h5 class="parallaxSubtitle"> Lorem ipsum dolor sit amet consectetuer </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="productSetailsModalAjax" tabindex="-1" role="dialog" aria-labelledby="productSetailsModalAjaxLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>

{% endblock %}
