{% extends 'base.html' %}


{% block content %}

    <div class="container headerOffset">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="home-intro">
                    <h2>Simple Shop <span>E-commerce</span> - books</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container main-container">
        <div class="morePost row featuredPostContainer style2 globalPaddingTop ">
            <div class="col-lg-12">
                <h3 class="boxes-title-1"><span>КАТАЛОГ ВСЕХ КНИГ</span></h3>
            </div>
            <div class="container">
                <div class="row xsResponse">
                    {% for product_image in products_images %}
                        {% include 'landing/poduct_item.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container main-container">
        <div class="morePost row featuredPostContainer style2 globalPaddingTop ">
            <div class="col-lg-12">
                <h3 class="boxes-title-1"><span>КАТАЛОГ КНИГ ПО ПРОГРАММИРОВАНИЮ</span></h3>
            </div>
            <div class="container">
                <div class="row xsResponse">
                    {% for product_image in products_images_programms %}
                        {% include 'landing/poduct_item.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="container main-container">
        <div class="morePost row featuredPostContainer style2 globalPaddingTop ">
            <div class="col-lg-12">
                <h3 class="boxes-title-1"><span>КАТАЛОГ ДЕТСКИХ КНИГ </span></h3>
            </div>
            <div class="container">
                <div class="row xsResponse">
                    {% for product_image in products_images_childs %}
                        {% include 'landing/poduct_item.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-section parallax-image-2">
        <div class="w100 parallax-section-overley">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="parallax-content clearfix">
                            <h1 class="xlarge"> В нашем каталог магазина свыше 50000+  книг</h1>
                            <h5 class="parallaxSubtitle"> Свыше 5000 + категорий  </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="productSetailsModalAjax" tabindex="-1" role="dialog" aria-labelledby="productSetailsModalAjaxLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>

{% endblock %}
