{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>SimpleShop</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="title">Скоро открытие</h1>
                    <h3 class="title">Введите Ваш e-mail для получения сообщения об открытиии.</h3>
                    <div>
                        <form method="POST" class="form-inline text-center">{% csrf_token %}
                            <div class="form-group">
                                <label>Ваш email:</label>
                                {{ form.email }}
                            </div>
                            <div class="form-group">
                                <label>Ваше имя:</label>
                                {{ form.name }}
                            </div>
                            <button type="submit" class="btn btn-default">Отправить</button>
                        </form>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</body>
</html>